@using RS1_Ispit_asp.net_core.ViewModels
@{
    ViewData["Title"] = "EditovanjeCasa";
}
@model EditovanjeCasaVM
    <form class="form-group" asp-action="SnimanjeCasa">
        <input asp-for="odrzaniCasID" hidden />

        <div class="form-control">
            <label>Datum: </label>
            <input asp-for="datum" readonly />
        </div>
        <div class="form-control">
            <label>Odjeljenje: </label>
            <input asp-for="odjelejnje" readonly />
        </div>
        <div class="form-control">
            <label>Sadrzaj casa: </label>
            <input asp-for="sadrzajCasa" />
        </div>
        <div class="form-control">
            <input value="Snimi" type="submit" />
        </div>
    </form>
<div id="nekiID"></div>
<script>
    $(document).ready(function (event) {
        $.get("/OdrzanaNastava/PrikazDetalja?casID=@Model.odrzaniCasID",
            function (result, status) {
                $("#nekiID").html(result);
            }
        );
    });
</script>
