@using RS1_Ispit_asp.net_core.ViewModels
@{
    ViewData["Title"] = "Index";
}
@model   PrikazNastavnikaVM
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ime i prezime nastavnika</th>
            <th>Broj odrzanih casova u aktuelnoj kaledarskoj godini</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.PodaciNastavnik)
        {
            <tr>
                <td>@x.nastavnikImePrezima</td>
                <td>@x.brojCasova</td>
                <td>
                    <a href="/OdrzaniCas/PrikazCasova?nastavnik=@x.nastavnikID">Odaberi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
