@using RS1_Ispit_asp.net_core.ViewModels
@{
    ViewData["Title"] = "DodavanjeTakmicenje";
}
@model DodavanjeTakmicenjaVM
    <form class="form-group" asp-action="DodavanjeTakmicenje">
        <input asp-for="skolaID" hidden/>
        <div class="form-control">
            <label>Skola : </label>
            <input asp-for="skolaNaziv" readonly />
        </div>
        <div class="form-control">
            <label>Predmet:  </label>
            <select asp-for="predmetID" asp-items="Model.predmet"></select>
        </div>
        <div class="form-control">
            <label>Razred:  </label>
            <select asp-for="razredID" asp-items="Model.razred"></select>
        </div>
        <div class="form-control">
            <label>Datum:  </label>
            <input asp-for="datum"  />
        </div>
        <div class="form-control">
            <input value="Snimi" type="submit" />
        </div>
    </form>
